extends ../base.pug

block content
    h4 Change Title of Video
    form(method="POST")
        input(type="text", name="title", placeholder="Title",value=video.title, maxlength=50, required)
        input(type="text", name="description", placeholder="Description",value=video.description, maxlength=200, required)
        input(type="text", name="hashtags", placeholder="Hashtags, separate by comma.",value=video.hashtags.join())
        input(type="submit", value="Save Changes")