extends ../base.pug
include ../mixins/video

block content 
    form(method="GET").search__form
        input(type="text",name="search_query" ,placeholder="Search by title", required)
        button
            i.fas.fa-search
    div.video-grid
        each video in videos 
            +video(video)
        else 
            span.empty__message No videos Found