extends ../base.pug

block content
    if errorMessage 
        span=errorMessage
    div#recControls
        video#preview
        button#recBtn Start Recording
    form(method="POST", enctype="multipart/form-data")
        input(type="file", id="video", name="video", accept="video/*", required)
        input(type="text", name="title", placeholder="Title", maxlength=50, required)
        input(type="text", name="description", placeholder="Description", maxlength=200, required)
        input(type="text", name="hashtags", placeholder="Hashtags, separate by comma.")
        input(type="submit", value="Upload")

block scripts 
    script(src="/static/js/recorder.js") 