#recControls {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: center;
}

video {
  max-width: 100%;
}

#preview {
  padding-bottom: 15px;
}
