doctype html 
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="shortcut icon" href="#")
    body
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    if loggedIn
                        li 
                            a(href="/videos/upload") Upload
                        li 
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href="/users/logout") Log Out
                    else 
                        li 
                            a(href="/signup") Sign Up
                        li 
                            a(href="/login") Log In
                    li 
                        a(href="/results") Search
        main
            block content
    include partials/footer.pug 