doctype html 
html(lang="ko")
    head
        title #{pageTitle} | Leetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="shortcut icon" href="#")
    body
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/videos/upload") Upload
                    li 
                        a(href="/results") Search
                    li 
                        a(href="/signup") Join
        main
        main
            block content
    include partials/footer.pug