header
    a(href="/")
        i.fab.fa-youtube
    nav 
        ul 
            if loggedIn
                li 
                    a(href="/videos/upload") Upload
                li 
                    a(href=`/users/${loggedInUser._id}`) #{loggedInUser.username}
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log Out
            else 
                li 
                    a(href="/signup") Sign Up
                li 
                    a(href="/login") Log In
            li 
                a(href="/results") Search
        