extends ../base.pug

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="currentPW", type="password", placeholder="Current Password", value="", required)
        input(name="newPW", type="password", placeholder="New Password", value="", required)
        input(name="confirmNewPW", type="password", placeholder="Confirm New Password", value="", required)
        input(type="submit", value="Change Password")