extends ../base.pug
include ../mixins/video

block content
    div.profile__data
        if loggedInUser.avatarUrl.includes("github")
            img.avatar(src=loggedInUser.avatarUrl)
        else
            img.avatar(src=loggedInUser.avatarUrl)
        h3=user.username
    div.video-grid  
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos Found